<!DOCTYPE html>
<html>
<head>
  <title>Danknox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="main-body">
	<div class="container">
		<div class="container-two">
			<div class="threedot"></div>
			<div class="cloud"></div>
			<div class="danknox"></div>
			<div class="navbar">
				<div class="navbar-left"></div>
				<div class="navbar-middle">
					<%= render :partial => 'menus/navigation' %>
				</div>
				<div class="navbar-right"></div>
			</div>
			<div class="recent">
				<%= render :partial => 'widgets/recent_posts' %>
				<%= render :partial => 'widgets/search' %>
				<%= render :partial => 'widgets/user_account' %>
			</div>
			<div class="main">
				<div class="content-container">
					<%= render :partial => 'layouts/notices' %>
					<%= yield %>
				</div>
			</div>
		</div>
		<%= render :partial => 'widgets/comments' %>
		<div class="footer">
			Copyright Dan Knox 2012
			<div class="float-right"><%= link_to "New Post", new_post_path %></div>
		</footer>
	</div>
</body>
</html>
